@charset "UTF-8";

/********** Essential Audio Player 1.0.4 CSS **********/



/****************************************/
/*                                      */
/*         Section 1: The Looks         */
/*                                      */
/****************************************/


/* 1. The Main Container */
div.essential_audio {
	position: relative;
	z-index: 0;
	width: 100%;
}


/* 2. The Player Button – General */
div.essential_audio > div:nth-child(1) div {
	width: 28px;
	height: 28px;
	margin-top: -13px;
	border-radius: 50%;
	background-color: #000;
}
div.essential_audio > div:nth-child(1) div:after {
	position: absolute;
	top: 7%;
	left: 7%;
	width: 86%;
	height: 86%;
}
/* Set here how much the button exceeds the horizontal track limits: */
/* This must not be deleted! (but can be changed, of course) */
:root {
	--button-protrusion: 4px;
}

/* 2.a) The Player Button – Off */
div.essential_audio > div:nth-child(1) div.off:after {
	content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PHBvbHlnb24gZmlsbD0nI0ZGRicgcG9pbnRzPScxMCw2LjkgMTAsMjMuMSAyNCwxNScgLz48L3N2Zz4=");
}

/* 2.b) The Player Button – Loading */
div.essential_audio > div:nth-child(1) div.load:after {
	content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PGNpcmNsZSBvcGFjaXR5PScwLjY0JyBmaWxsPScjRkZGRkZGJyBjeD0nNi41JyBjeT0nMTguNScgcj0nMicvPjxjaXJjbGUgb3BhY2l0eT0nMC43NicgZmlsbD0nI0ZGRkZGRicgY3g9JzYuNScgY3k9JzExLjUnIHI9JzInLz48Y2lyY2xlIG9wYWNpdHk9JzAuODgnIGZpbGw9JyNGRkZGRkYnIGN4PScxMS41JyBjeT0nNi41JyByPScyJy8+PGNpcmNsZSBmaWxsPScjRkZGRkZGJyBjeD0nMTguNScgY3k9JzYuNScgcj0nMicvPjxjaXJjbGUgb3BhY2l0eT0nMC4xNicgZmlsbD0nI0ZGRkZGRicgY3g9JzIzLjUnIGN5PScxMS41JyByPScyJy8+PGNpcmNsZSBvcGFjaXR5PScwLjI4JyBmaWxsPScjRkZGRkZGJyBjeD0nMjMuNScgY3k9JzE4LjUnIHI9JzInLz48Y2lyY2xlIG9wYWNpdHk9JzAuNCcgZmlsbD0nI0ZGRkZGRicgY3g9JzE4LjUnIGN5PScyMy40JyByPScyJy8+PGNpcmNsZSBvcGFjaXR5PScwLjUyJyBmaWxsPScjRkZGRkZGJyBjeD0nMTEuNScgY3k9JzIzLjQnIHI9JzInLz48L3N2Zz4=");
	animation: audio_load_rotate 1s infinite linear;
}
@keyframes audio_load_rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* 2.c) The Player Button – Playing */
div.essential_audio > div:nth-child(1) div.play {
	background-color: #000!important;
}
div.essential_audio > div:nth-child(1) div.play:after {
	content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PHJlY3QgZmlsbD0nI0ZGRicgeD0nMTcnIHk9JzgnIHdpZHRoPSczJyBoZWlnaHQ9JzE0JyAvPjxyZWN0IGZpbGw9JyNGRkYnIHg9JzEwJyB5PSc4JyB3aWR0aD0nMycgaGVpZ2h0PScxNCcgLz48L3N2Zz4=");
}

/* 2.d) The Player Button – Dragging */
div.essential_audio > div:nth-child(1) div.drag {
	transition: left 0s!important;
	/*
	cursor: grab!important;
	*/
}

/* 2.e) The Player Button – Error */
div.essential_audio > div:nth-child(1) div.error {
	background-color: rgba(0,0,0,0.35)!important;
}
div.essential_audio > div:nth-child(1) div.error:after {
	content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PHBhdGggZmlsbD0nI0ZGRicgZD0nTTEzLjksMTguNmMwLTAuMywwLTAuNSwwLTAuOWMwLTEuNiwwLjYtMi45LDIuMS0zLjlsMS4xLTAuOGMwLjktMC42LDEuMy0xLjUsMS4zLTIuNGMwLTEuNS0xLTIuOC0zLTIuOGMtMi4yLDAtMy4xLDEuNi0zLjEsMy4yYzAsMC4yLDAsMC40LDAsMC41TDEwLDExLjljLTAuMS0wLjMtMC4xLTAuOC0wLjEtMS4yYzAtMi4zLDEuNy01LjEsNS41LTUuMWMzLjUsMCw1LjUsMi41LDUuNSw1YzAsMi0xLjEsMy40LTIuNSw0LjNsLTEuMiwwLjhjLTAuOCwwLjUtMS4xLDEuNC0xLjEsMi40YzAsMC4xLDAsMC4yLDAsMC41SDEzLjl6Jy8+PHBhdGggZmlsbD0nI0ZGRicgZD0nTTE1LDIwLjhjMSwwLDEuOCwwLjgsMS44LDEuOFMxNiwyNC40LDE1LDI0LjRjLTEsMC0xLjgtMC44LTEuOC0xLjhTMTQsMjAuOCwxNSwyMC44eicvPjwvc3ZnPg==");
}


/* 3. The Track */
div.essential_audio > div:nth-child(2) {
	height: 2px;
}
div.essential_audio > div:nth-child(2):after {
	content: "";
	position: absolute;
	z-index: 0;
	background-color: #000;
	opacity: 0.3;
	mix-blend-mode: multiply;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}


/* 4. The Loading Progress Bar */
div.essential_audio > div:nth-child(2) div {
	background-color: #666;
	mix-blend-mode: multiply;
}


/* 5. The Klick & Drag Sensor */
div.essential_audio > div:nth-child(3) {
	height: 12px;
	margin-top: -5px;
}




/****************************************/
/*                                      */
/*        Section 2: Core Values        */
/*                                      */
/****************************************/


/* 1. The Main Container + General Settings */
div.essential_audio,
div.essential_audio * {
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: auto;
}
div.essential_audio *:focus {
	outline: none;
}


/* 2. The Player Button */
div.essential_audio > div:nth-child(1) div {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

/* 2.a) Container for Player Button */
div.essential_audio > div:nth-child(1) {
	position: absolute;
	z-index: 3;
	height: 0px;
	top: 0px;
	left: calc(var(--button-protrusion) * -1);
	width: calc(100% + (2 * var(--button-protrusion)));
}


/* 3. The Track */
div.essential_audio > div:nth-child(2) {
	position: relative;
	width: 100%;
	overflow: hidden;
}


/* 4. The Loading Progress Bar */
div.essential_audio > div:nth-child(2) div {
	position: absolute;
	z-index: 1;
	width: 0%;
	height: 100%;
	top: 0px;
	left: 0px;
	transition: width 0.5s;
}


/* 5. The Klick & Drag Sensor */
div.essential_audio > div:nth-child(3) {
	position: absolute;
	z-index: 2;
	width: 100%;
	top: 0px;
	left: 0px;
}
