@import url("../font/stylesheet.css");
*{
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 1vw; /* Adjusts size relative to viewport width */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100vh;
  cursor:none!important
}

body {
  width: 100%;
  font-family: 'Lausanne', sans-serif;
  color: #000000;
  font-weight: 300;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

a {
  cursor: none !important; /* Hide default cursor on links */
  color: #000000;
  text-decoration: none;
}

.custom-cursor {
  position: fixed;
  z-index: 9999; /* Ensure cursor is on top of all elements */
  width: 15px;
  height: 15px; 
  border-radius: 2%; /* Делаем курсор круглым */
  background-color: #ff9100;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%); /* Центрируем курсор относительно координат мыши */
  transition: transform .10s linear; /* Плавное перемещение курсора */
  pointer-events: none; 
}

.custom-cursor.pressed {
  transform: translate(-50%, -50%) scale(1.1); /* Увеличиваем курсор */
  transition: transform .1s linear; /* Анимация увеличения курсора */
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h1, h2, h3 {
  font-weight: 400;
  margin-bottom: 0;
}

h3 {
  font-size: 1.3rem;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ff9100;
  transition: all 0.3s ease-in-out;
}

li {
  display: grid;
}

video {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.footnote-ref {
  text-decoration: none;
  font-size: 0.5rem;
}

.footnote {
  font-size: 0.9em;
  margin-top: 10px; 
  padding: 5px;
  border-left: 3px solid #ccc;
  padding-left: 10px;
}

.footnote-back {
  text-decoration: none;
  font-size: 0.9em;
  margin-left: 5px;
}

/* Visibility Classes */
.desktop {
  display: block;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block;
    visibility: visible;
  }
}

@media only screen and (min-width: 769px) {
  .mobile {
    display: none !important;
  }
  .desktop {
    display: block;
    visibility: visible;
  }
}

/* --- Layout (Desktop Default) --- */
.header {
  display: flex;
  padding: 2% 2% 0% 2%;
  padding-top: 5vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; /* Ensure the header appears above other content */
  padding-bottom: 1%;
}

.footer {
  width: 100%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  left: 0;
  position: fixed;
  bottom: 0; /* Position the footer at the bottom */
  text-align: right; /* Align text to the right */
  z-index: 2; /* Higher z-index to appear above the background */
  pointer-events: none; /* Allow scrolling through the image gallery */
}

.footer:hover + .image-container {
  background-color: #ff9100;
}

.grid {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr 1fr 1fr;
  justify-content: right;
  width: 100%;
}

.main-content {
  display: flex;
  padding: 2%;
  padding-bottom: 2%;
  z-index: -1;
}

/* --- Components --- */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 50%; 
  height: 94vh;
  z-index: 2;
  overflow: hidden;
}

.sidebar-item {
  /* margin-top: 5px; */
  width: 100%; /* Adjust the width as needed */
  text-align: left; /* Center the text */
}

.sidebar-item a {
  text-decoration: none;
  color: #000000;
}

.sidebar-item a:hover {
  color: #ff9100;
}

.project-year.highlight {
  color: #ff9100; /* Highlight color */
}

.sequential-number {
  flex: 0 0 1.5rem;
  margin-right: 0.7rem;
  text-align: right;
}

#image-gallery {
  width: 70%; /* Remaining space beside the sidebar */
  right: -15vw;
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center; /* Center the container horizontally */
  position: fixed;
  top: 0%;
  z-index: 1; /* Lower z-index to stay in the background */
  pointer-events: none; /* Allow scrolling through the image gallery */
}

/* Inner 16:9 aspect ratio container */
.image-container {
  width: 100%; /* Full width of the gallery area */
  position: relative;
  /* background-color: white; Background behind images/videos */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  overflow: hidden;
}

.image-container::before {
  content: '';
  display: block;
  padding-bottom: 56.25%; /* Fallback for 16:9 aspect ratio */
}

/* Media inside the gallery */
.image-container video,
.image-container img {
  position: absolute;
  max-width: 100%; /* Fit within the container horizontally */
  max-height: 100%; /* Fit within the container vertically */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
}

#gallery-image img.active, #gallery-image video.active {
  opacity: 1;
}

.work-content { 
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  align-self: center;
  padding: 2%;
  padding-bottom: 60px; /* Add padding to avoid overlap with the footer */
  min-height: 100vh; /* Ensure the main content takes up at least the full viewport height */
  position: absolute; /* Ensure the main content is positioned relative to the background */
  z-index: 2; /* Higher z-index to appear above the background */
  text-align: justify;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.work-content h1 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 3.5rem;
}

.work-content h2 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 1.6rem;
}

.work-content p {
  margin-bottom: 20px;
}

.work-content a {
  color: #ff9100;
  text-decoration: none;
}

.project-details {
  margin-bottom: 20px; /* Add some space between the sections */
}
.project-details a:hover {
  text-decoration: underline;
}

.main-media {
  display: flex;
  justify-content: center; /* Center the media horizontally */
  align-items: center; /* Center the media vertically */
  margin-bottom: 20px; /* Add some space between the main media and the project details */
}

#main-media-container {
  /* border: 2px solid red; Add a border for visibility */
  display: block !important; /* Ensure it's displayed */
  width: 100%;
  height: auto;
}

/* Responsive iframe container */
.responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

/* Style the iframe to fit the container */
.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Responsive container for Spotify iframe */
.responsive-spotify-container {
  position: relative;
  width: 100%; /* Full width of the parent */
  padding-bottom: 56.25%; /* Maintain a 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.responsive-spotify-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  border: none; /* Remove border */
}

.project-gallery {
  display: block; /* Switch to block for column layout */
  column-count: 2; /* Masonry layout with 2 columns */
  column-gap: 40px;
  margin-top: 40px; /* Add some space between the sections */
  padding-bottom: 4%;
}

.gallery-item {
  width: 100%;
  height: auto;
  margin-bottom: 40px; /* Space between items vertically */
  break-inside: avoid; /* Prevent items from splitting across columns */
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.02);
}

/* Style for inner media */
.gallery-item img,
.gallery-item video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 2px;
}

.google-drive-video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9; /* Ensures a proper aspect ratio */
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0.9); */
  display: flex; /* Use Flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 2;
}

.modal-content {
  width: 100vh;
  height: 100vh; 
  margin: auto;
  display: flex; /* Use Flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: white;
  padding: 30px; 
  box-sizing: border-box; /* Include padding in width and height */
  position: relative;
  z-index: 5;
}

.modal-image, .modal-video {
  max-width: 90vh;
  max-height: 90vh;
  width: auto;
  height: auto;
  padding-top: 5vw;
  z-index: 5;
}

/* Make markdown images clickable */
.clickable-image {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.clickable-image:hover {
  transform: scale(1.01);
}

.close {
  position: fixed;
  bottom: 4%;
  right: 15%;
  color: black;
  /* font-weight: bold; */
  z-index: 4;
  text-decoration: underline;
}

.close:hover,
.close:focus {
  color: #ff9100;
  cursor: none !important;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: none;
  z-index: 4;
}

.arrow.left {
  left: -150px;
}

.arrow.right {
  right: -150px;
}

/* iframe {
  padding: 5%;
} */

#next-project-container {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 10px;
}

#about-content {
  width: 35%;
  margin-top: 15%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
  box-sizing: border-box;
  align-self: flex-end;
}

.side-image {
  margin-left: 10%;
  margin-top: 20vh;
  display: flex;
  align-items: center; /* Center the image vertically within the side-image container */
  justify-content: center; /* Center the image horizontally within the side-image container */
}

.portrait {
  width: 80%;
  max-width: 30vw; /* Adjust the size as needed */
  margin: auto;
  display: block;
}

.info-content{
  position: absolute;
  padding-top: 15%;
  padding-left: 43%;
  z-index: -1;
}

.mobile-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  background-color: white;
}

/* --- Mobile Responsive Overrides --- */
@media (max-width: 768px) {

  body {
     font-size: 2.3vh; /* Adjusts size relative to viewport width */
  }

  .main-content {
      flex-direction: column;
      display: block;
      height: auto;
  }

  .project-details {
      width: 100%; /* Full width for small screens */
  }

  .project-gallery {
      width: 100%; /* Full width for small screens */
      column-count: 1; /* Single column on mobile */
  }

  .header {
      position: fixed;
      background-color: #ffffff;
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
      padding-bottom: 20px;
      z-index: 3;
  }

  .header .row.title {
      width: 100%;
      flex: 0 0 100% !important;
  }

  .header .row, 
  .header .column {
      width: auto;
      margin-top: 0;
  }

  .header .row:empty {
      display: none;
  }

  .sidebar {
      padding-top: 35vh;
      width: 100%;
      height: auto;
      overflow: visible;
  }

  #image-gallery {
      display: none; /* Hide hover gallery on mobile */
  }

  .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 5;
  }
  .work-content {
      width: 90%;
      margin: auto;
      padding-top: 15vh;
      padding-bottom: 80px; /* Extra padding for footer */
  }

  .work-content h1 {
    font-weight: bold;
    font-size: 2.8vh;
  }

  .work-content h3 {
    font-size: 2.5vh;
  }

  #about-content {
      width: 80%;
      margin: auto;
      text-align: justify;
      margin-top: 10%;
      margin-bottom: 10vh;
  }

  .portrait {
  width: 100%;
  max-width: 50vw; /* Adjust the size as needed */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  }

  .side-image {
  margin-top: 10vh;
  margin-left: 0;
  }

  .info-content{
  position: absolute;
  padding-top: 25vh;
  padding-left: 2%;
  z-index: -1;
  }

  a:hover,
  a:focus {
  color: black;
  text-decoration: none;
  }

  .sidebar-item a:focus {
  color: black;
  text-decoration: none;
  }

  g {
    font-size: 1.4vh;
  }

  .custom-cursor {
    display: none; /* Hide custom cursor on mobile */
  }

  .modal-image, .modal-video {
  max-width: 50vh;
  max-height: 50vh;
  }

  .close {
  position: fixed;
  bottom: 5vh;
  right: 2%;
  }

  #next-project-container {
  font-size: 2.1vh;
  margin-bottom: 10px;
  }
}
