@import url("fonts.css");

/* General */
html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  font-family: "Neue Haas Grotesk Display", sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #000000;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-bottom: 5vh;
  scroll-behavior: smooth;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mobile {
  display: none;
  visibility: hidden;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Typography styles */
h1,
h2,
h3,
h4,
h5,
h6,
.h01,
.h02,
.h03,
.h04,
.h05,
.h06 {
  font-family: "Neue Haas Grotesk Display", sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
}

ul {
  margin-bottom: 3rem;
}

/* Links */
a,
a:visited {
  font-family: "Neue Haas Grotesk Display", sans-serif;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: #ff9100;
  transition: all 0.3s ease-in-out;
}


/* Header */
header {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 700;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 0%;
}

header .header-logo a {
  position: absolute;
  padding: 2.5rem;
  text-shadow: none;
  transition: all 0.2s ease-in-out;
}

header .header-logo a:hover {
  font-style: normal;
}

.header-nav {
  padding: 2.5rem;
  float: right;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
}

.nav-link {
  padding-left: 0.2rem;
}

@media only screen and (max-width: 768px) {

  header {
    font-size: 0.8rem;
  }
  header .header-logo a {
    padding: 0.8rem 0.5rem;
  }
  .header-nav {
    padding: 0.8rem 1.5rem;
  }
}

/* HOME */
#home {
  margin-bottom: 16vh;
}

.home-content {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}

.home-content h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 18.5vw;;
  padding-top: 40vh;
  position: center;
  text-transform: uppercase;
  margin-bottom: 13vh;
}

.home-content h2 {
  font-weight: 100;
  font-style: normal;
  font-size: 5rem;
}

.home-content h3 {
  font-weight: 100;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

#intro {
  width: 100%;
  height: 10%;
  text-align: center;
}

.about-ed h2 {
  font-size: 7rem;
  margin: 0 0 3vh 0;
}

@media only screen and (max-width: 768px){
  .home-content h1 {
    font-size: 13.5vw;
    padding-top: 30vh;
    margin-bottom: 4vh;
  }
  
  .home-content h3 {
    font-size: 5.3vw;
  }
  
  #about {
    position: flex;
    top: 50%
  }
  .about-ed h2 {
    font-size: 12.5vw;
  }

  .about-ed h3 {
    font-size: 7vw;
    text-align: center;
    line-height: 7vw;
  }
  .desktop { display: none !important; }
  .mobile  { display: block; visibility: visible; }
}

/* Works */
#works {
  width: auto;
  height: 100%;
  text-align: left;
  margin: 8% 10vh 0 10vh;
}

.have-a-look {
  padding-top: 5vw;
  font-size: 5vw;
  text-align: center;
}

#bubble {
  width: auto;
  height: auto;
  margin: 3vw 0 2vw 0;
  padding: 0 20vw 0 20vw;
  text-align: center;
}

/* Style the buttons */
.btn {
  border: 2px solid black;
  border-radius: 60px;
  margin: 0.2vw;
  background-color: white;
  cursor: pointer;
  font-size: 1.2vw;
  list-style-type: none;
}

.btn:hover {
  color: white;
  background-color:black;
  transition: 0.3s;
}

.btn:hover a:hover {
  color: white;
}

/* Image Styles */
.image-container {
  padding: 0 10vw 0 10vw;
  width: auto;
  height: auto;
  background-color: #000000;
}
.image-container img {
  max-width: 100%;
}

@media only screen and (max-width: 768px){
  
  #works {
    height: auto;
    text-align: left;
    margin: 1vh 1vh 0 1vh;
  }

  .have-a-look {
    width: 100%;
    padding: 15vh 0 0 0;
    font-size: 10vw;
    line-height: 8vw;
    text-align: center;
  }

  .smile {
    font-size: 20vw;
    margin: 0;
    padding-top: 6vh;
    line-height: 2.5rem;
    text-align: center;
  }

  #image-gallery {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 12vh 0 20px 0;
  }

  #image-gallery img {
    max-width: 100%;
    height: auto;
  }

  #image-gallery h2 {
    margin-top: 3vh;
    font-size: 6vw;
  }

  #image-gallery i {
    font-style: italic;
    font-size: 16px;
  }

  #image-gallery a {
    line-height: 3vh;
    margin-bottom: 3vh;
  }
  
  .desktop { display: none !important; }
  .mobile  { display: block; visibility: visible; }
  
}

#about {
  height: auto;
  font-size: 4.7rem;
}

.just-for-space {
  height: 5vh;
}

#about-me {
  padding: 3rem;
  background-image: url("../images/about-image.png");
  background-size: cover;
  margin: 0 10vh 0 10vh;
  line-height: 4.5rem;
  color: #ffffff;
}

#about-me p {
  margin: 2rem 0 0 0;
}

#contacts {
  margin: 4vh 10vh 5vh 10vh;
}

#contacts h2 {
  font-size: 4vw;
}

@media only screen and (max-width: 768px){

  #about {
    height: auto;
    font-size: 1.2rem;
  }
  .just-for-space {
    height: 4vh;
  }
  
  #about-me {
    padding: 1.5rem;
    background-image: url("../images/about-image.png");
    background-size: cover;
    margin: 0 1vh 0 1vh;
    line-height: 1.5rem;
  }

  #about-me p {
    margin: 1.5rem 0 0 0;
    line-height: 1.5rem;
  }
  
  #contacts {
    margin: 4vh 1vh 0 1vh;
  }

  #contacts h2 {
    font-size: 8vw;
    line-height: 8vw;
  }
  #contacts a {
    font-size: 6vw;
  }
}
